@using ShishaKingdom.Web.ViewModels.Products
@model IEnumerable<ShishaKingdom.Web.ViewModels.Products.ProductViewModel>

@{
    ViewBag.Title = "Продукти";
}

<link href="@Url.Content("~/Content/productsStyle.css")" rel="stylesheet" type="text/css" />


<h2>Продукти</h2>

<div class="row">
    <div class="btn-group" style="margin-bottom: 5px">
        <div class="col-lg-2">
            <form method="get" action="/products/all">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Име на продукт..." name="search" id="search">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Търси</button>
                    </span>
                </div>
            </form>
        </div>
        @if (User.IsInRole("Admin"))
        {
            <a href="/administration/products/addproduct" class="btn btn-success" role="button">Нов Продукт</a>
        }


    </div>

    <div class="col-md-12">
        @Html.Action("Products", "Products", new { area = "" , search = ViewBag.Search })
    </div>
</div>
