@using ShishaKingdom.Web.ViewModels.Products
@model IEnumerable<ShishaKingdom.Web.ViewModels.Products.ProductViewModel>

@{
    ViewBag.Title = "Продукти";
}

<link href="@Url.Content("~/Content/productsStyle.css")" rel="stylesheet" type="text/css" />
<div class="row">
    <h2>Продукти</h2>

    @if (User.IsInRole("Admin"))
    {
        <div class="btn-group" style="margin-bottom: 5px">
            @Html.ActionLink("Нов Продукт", "AddProduct", "Products",null,htmlAttributes: new { @class = "btn btn-white btn-info active" })
        </div>
    }

    <div class="col-md-12">

       @Html.Partial("_ProductPartial", Model, new ViewDataDictionary() { { "show", new { } } });
    </div>
</div>
