@model Jitter.ViewModels.JeetViewModels.JeetViewModel

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">The best Jeet of the D.A.Y! By @Model.Author</h4>
    </div>
    <div class="panel-body">
        <h3>@Model.Content</h3>
        <p>Posted on: @Model.PostedOn</p>
        <button class="btn btn-success">Like</button>
    </div>
</div>