@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-3">
            <div class="error-template">
                <h1>
                    Oops!
                </h1>
                <h2>
                    404 Кур
                </h2>
                <div class="error-details">
                    <img class="img-responsive" src="http://i454.photobucket.com/albums/qq267/oldcatman/78186Hookah.gif" />
                </div>
                <div class="error-actions">
                    <a href="http://www.jquery2dotnet.com" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-home"></span>
                        Take Me Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

