@model IEnumerable<ShishaKingdom.Web.ViewModels.Categories.CategoryViewModel>

@{
    ViewBag.Title = "Категории";
}



<link rel="stylesheet"/>
@*<div class="list-group">
    @foreach (var categoryViewModel in Model)
    {
        <a href="@Url.Action("Category", "Categories")?id=@categoryViewModel.Id" class="list-group-item">
            <span class="badge">14</span>
            @categoryViewModel.Name
        </a>
    }
</div>*@


        <ul class="nav nav-stacked" id="sidebar">
            <li><a href="#sec0">Section 0</a></li>
            <li><a href="#sec1">Section 1</a></li>
            <li>
                <a href="#sec2">Section 2</a>
                <ul class="nav nav-stacked">
                    <li><a href="#sec2a">Section 2 a</a></li>
                    <li><a href="#sec2b">Section 2 b</a></li>
                </ul>
            </li>
            <li><a href="#sec3">Section 3</a></li>
            <li><a href="#sec4">Section 4</a></li>
        </ul>


