@model IEnumerable<ShishaKingdom.Web.ViewModels.Categories.CategoryViewModel>

@{
    ViewBag.Title = "Категории";
}

<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Категории</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @foreach (var categoryViewModel in Model)
                {
                    <li class="active">
                        <a href="@Url.Action("Category", "Categories")?id=@categoryViewModel.Id">
                            @categoryViewModel.Name
                            <span style="font-size: 16px;" class="pull-right hidden-xs showopacity badge">@categoryViewModel.ProductsCount</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

<script>

</script>